*.pdf
*.gz
*.aux
texMemo/texMemo_TEMPLATE.out
texMemo/tasklist_TEMPLATE.log
texMemo/texMemo_TEMPLATE.log
texMemo/texput.log
tkz-graph-example.log
daybook/daybook_test.log
daybook/texput.log
Examples/graphs1_faulty.log
Examples/graphs1_tkzGraph.log
Examples/graphs2_automata.log
daybook/daybook_test.pdf
Examples/academic-life.pdf
Examples/expectimax.pdf
Examples/graphs1_faulty.pdf
Examples/graphs1_tkzGraph.pdf
Examples/graphs2_automata.pdf
Examples/hw1-skiing.pdf
Examples/hw1-statespace.pdf
Examples/maximax.pdf
Examples/mdp.pdf
Examples/planChoices.pdf
Examples/u1015536-HW3.pdf
texMemo/tasklist_TEMPLATE.pdf
texMemo/texMemo_TEMPLATE.pdf
